%h1 Listing Articles
= will_paginate @articles
%table
  %tr
    %th Title
    %th{:colspan=>2}
  - @articles.each do |article|
    %tr
      %td= link_to h(article.title), article
      %td= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete
= will_paginate @articles
