%h1 New Session
- semantic_form_for @user_session do |f|
  = f.error_messages
  = f.inputs :email, :password
  = f.commit_button t('formtastic.buttons.user_session.commit')
= link_to 'New User', new_user_path
